header {
	height: 30px;
	background-color: #302f2f;
    background-image: linear-gradient( rgb(24, 24, 26), rgb(57, 56, 60));
    border-style: outset;
    border-width: 1px;
    padding: 10px;
  }
  
 a {
	text-decoration: none;
	font-size: 14px;
	color: rgb(182, 180, 180);
	}
    
table {
    width: 300px;
    margin: auto;
   }
.div_table {
    margin: auto;
}
.div_error{
    text-align: center; 
}

.table_td_name {
	border: none;
	width: 30%;
}

.form_box {
	position: absolute;
	left: 35%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   	text-align:right;    
	padding-right: 10px;	
}

.error_form_box {
    position: absolute;
    left: 80%;
    float: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    clear:both;
    text-align:right;
    padding-right: 10px;
}

label {
	float: center;
	padding-right: 10px;
}
